# Godot 4+ specific ignores
.godot/
addons/

# Gradle specific ignores
.gradle/
build/

# Godot Kotlin/JVM specific ignores
.idea/
jre-arm64/
jre-amd64/
graal/
*.log
*.import
src/main/resources/META-INF/services/